<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Connection settings -->
        <property name="hibernate.connection.driver_class"> com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/budgetdb</property>
        <property name="hibernate.connection.username">budgetmaster</property>
        <property name="hibernate.connection.password">keymaster</property>

        <property name="hibernate.current_session_context_class">thread</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Print executed SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        <!-- Drop and re-create all database on startup -->
        <!--<property name="hibernate.hbm2ddl.auto">create-drop</property>-->

        <!-- Annotated entity classes -->
        <mapping class="de.pfann.budgetmanager.server.model.Entry"/>
        <mapping class="de.pfann.budgetmanager.server.model.AppUser"/>
        <mapping class="de.pfann.budgetmanager.server.model.Category"/>
        <mapping class="de.pfann.budgetmanager.server.model.Tag"/>
        <mapping class="de.pfann.budgetmanager.server.model.RotationEntry"/>
        <mapping class="de.pfann.budgetmanager.server.rotationjobs.Run"/>
        <mapping class="de.pfann.budgetmanager.server.rotationjobs.RunInfo"/>

    </session-factory>
</hibernate-configuration>